@page "/"

@inherits IndexBase

<h3>Authentication</h3>

<AuthorizeView>
    <Authorized>
        <div>Authenticated</div>
        <div>Username: @context.User.Identity?.Name</div>
        <div>
            Claims:
            <ul>
                @foreach (var c in context.User.Claims)
                {
                    <li>@c.Type: @c.Value</li>
                }
            </ul>
        </div>
        @if (!string.IsNullOrEmpty(Token))
        {
            <div>Token: <small>@Token</small></div>
        }
    </Authorized>
    <NotAuthorized>
        <div>Not authenticated. <a href="/login">Login</a></div>
    </NotAuthorized>
</AuthorizeView>

@{
    var perms = new[] { "users.create", "users.read", "character.create", "character.read" };
}

<div>
    @foreach (var perm in perms)
    {
        <AuthorizeView Context="auth">
            <Authorized>
                <button disabled="@(!auth.User.HasClaim("permission", perm))">@perm</button>
            </Authorized>
            <NotAuthorized>
                <button disabled>@perm</button>
            </NotAuthorized>
        </AuthorizeView>
    }
</div>
